<persistence version="1.0" xmlns="http://java.sun.com/xml/ns/persistence" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/persistence
	http://java.sun.com/xml/ns/persistence/persistence_1_0.xsd">
	<persistence-unit name="${persistenceUnitName}" transaction-type="JTA">

		<provider>org.apache.openjpa.persistence.PersistenceProviderImpl</provider>
		<jta-data-source>
			<![CDATA[
			osgi:javax.sql.DataSource/(name=${managedDsName})
			]]>
		</jta-data-source>
		
		<non-jta-data-source>
			<![CDATA[
			osgi:javax.sql.DataSource/(name=${unmanagedDsName})
			]]>
		</non-jta-data-source>	

		<class></class>

		<exclude-unlisted-classes>true</exclude-unlisted-classes>

		<properties> 
			<property name="openjpa.ManagedRuntime" value="org.apache.openjpa.ee.OSGiManagedRuntime"/>
			<property name="openjpa.Log" value="slf4j"/>
			<property name="openjpa.ConnectionFactoryProperties" value="PrintParameters=true" />
			
			<property name="openjpa.jdbc.SynchronizeMappings" value="buildSchema(ForeignKeys=true)"/>
			<property name="openjpa.jdbc.SchemaFactory" value="native(ForeignKeys=true)"/>
			<property name="openjpa.jdbc.MappingDefaults" value="ForeignKeyDeleteAction=restrict,JoinForeignKeyDeleteAction=restrict"/>
		</properties>
	</persistence-unit>
</persistence> 