<!DOCTYPE html>
<html>
<head lang="en">
  <meta charset="UTF-8">
  <title>Amdatu Bootstrap UI</title>
  <link href="bower_components/bootstrap/dist/css/bootstrap.css" type="text/css" rel="stylesheet">
  <link href="css/amdatu.bootstrap.css" type="text/css" rel="stylesheet">
  <script type="text/javascript" src="bower_components/requirejs/require.js" data-main="main"></script>
</head>
<body ng-view  ng-controller="PluginsController as pluginController">
<div class="container-fluid" hotkeys>
  <div class="row">
    <div class="header col-xs-12">
		<h1>Bootstrap</h1>
		<h3 ng-bind="pluginController.currentDir"></h3>
    </div>
  </div>

  <div class="row">
    <div class="sidebar col-xs-3">
    	<form name="frmNavigate" ng-submit="pluginController.navigate(pluginController.currentDir)">
			<input type="text" ng-model="pluginController.currentDir" class="form-control" title="Path (p)">
		</form>
		<ul>
		  <li class="icon-home" ng-click="pluginController.navigate('~')" title="Root directory">~</li>
		  <li class="icon-up" ng-click="pluginController.navigate('..')" title="Up one directory">../</li>
		  <li ng-repeat="dir in pluginController.dirs track by $index" ng-click="pluginController.navigate(dir)">{{dir}}</li>
		</ul>
    </div>

    <div class="main col-xs-9">
    <form class="form-horizontal" name="form" role="form">
      <div class="row">
        <div class="col-xs-12">
          <input type="text" placeholder="Type command" title="Command (c)" ng-model="pluginController.command" typeahead="plugin.name for plugin in pluginController.plugins | filter:$viewValue | limitTo:8" class="form-control" typeahead-on-select="pluginController.showArgs()">
        </div>
      </div>
      <div class="arguments row">
        <div class="arrow_box col-xs-12" ng-show="pluginController.arguments.length > 0">
          <div class="form-group" ng-repeat="arg in pluginController.arguments" ng-switch="arg.type">
              <div ng-switch-when="boolean">
                <label for="{{arg.name}}" class="col-sm-2 control-label">{{arg.name}}</label>
                <div class="col-sm-10">
                	<input id="{{arg.name}}" type="checkbox" ng-model="pluginController.argValues[arg.name]">
                </div> 
              </div>
              <div ng-switch-default>
                <label for="{{arg.name}}" class="col-sm-2 control-label">{{arg.name}}</label>
                <div class="col-sm-10">
                  <input type="text" required ng-model="pluginController.argValues[arg.name]" class="form-control" id="{{arg.name}}" placeholder="{{arg.description}}">
                </div>
              </div>
            </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <button class="btn btn-primary" ng-disabled="form.$invalid" ng-click="pluginController.execute()">execute</button>
        </div>
      </div>
      </form>
      <div class="row">
        <div class="result col-xs-12">
          <div ng-repeat="line in pluginController.output track by $index">{{line}}</div>
        </div>
      </div>

    </div>
  </div>
</div>

<script type="text/ng-template" id="myModalContent.html">
  <div class="modal-header">
    <h3 class="modal-title">{{question.description}}</h3>
  </div>
  <div class="modal-body">
    <ul ng-show="question.options">
      <li ng-repeat="option in question.options">
        <input name="options" type="radio" ng-model="answer.selectedItem" value="{{$index}}"> {{option}}
      </li>
    </ul>


    <input ng-show="question.type == 'java.lang.String'" type="text" ng-model="answer.selectedItem" placeholder="Your answer">
    <input ng-show="question.type == 'java.lang.Boolean'" type="checkbox" ng-model="answer.selectedItem" value="true">
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary" ng-click="ok()">OK</button>
  </div>
</script>

</body>
</html>
